# Hugo generated
/public/
/resources/
/.hugo_build.lock

# npm
/node_modules/
/package.json
/package-lock.json

# OS
.DS_Store
Thumbs.db

bugublog-v**.html
bugulog-vmenu.html
infer.md
CLAUDE.md
AGENTS.md
/docs/
