{{ define "main" }}
<div class="app-inner">
<div class="taxonomy-page">
  <h1 class="taxonomy-title">
    {{- if eq .Data.Plural "categories" }}{{ i18n "menu.categories" }}
    {{- else if eq .Data.Plural "tags" }}{{ i18n "menu.tags" }}
    {{- else }}{{ .Title }}{{ end -}}
  </h1>

  {{- $terms := .Data.Terms.Alphabetical }}
  {{- if $terms }}
  <ul class="terms-list">
    {{- range $terms }}
    <li>
      {{ partial "terms.html" (dict "Page" .Page "Count" .Count) }}
    </li>
    {{- end }}
  </ul>
  {{- else }}
  <p class="term-empty">
    {{- if eq .Data.Plural "categories" }}{{ i18n "taxonomy.noCategories" }}{{ else }}{{ i18n "taxonomy.noTags" }}{{ end -}}
  </p>
  {{- end }}
</div>
</div>
{{ end }}
